<div class="fred-row" *ngFor="let sn of stringNumbers">
  <button type="button" class="btn btn-primary hit" (click)="hit(sn)">Hit {{sn}}</button>
  <button type="button" class="btn btn-info reset" (click)="reset(sn)">Reset {{sn}}</button>
  <button type="button" class="btn btn-secondary test" (click)="testRow(sn)">Test {{sn}}</button>
  <ng-container *ngFor="let fn of fredNumbers">
    <div class="fred-config" *ngIf="fn % 2 == 0">
      <div class="config-adress">
        <div class="header">Adress</div>
        <div class="header">Port</div>
        <div class="header">Free</div>
        <div class="header-input"><input type="number" step="1" class="form-control-plaintext" [(ngModel)]="config[sn][fn].address"></div>
        <div class="header-input"><input type="number" step="1" class="form-control-plaintext" [(ngModel)]="config[sn][fn].port"></div>
        <div class="header-input"><input type="number" step="0.01" class="form-control-plaintext" [(ngModel)]="config[sn][fn].free"></div>
        <div class="note-test"><button type="button" class="btn btn-secondary disabled" (click)="test(sn, fn, 'free')">Free</button></div>
      </div>
      <span class="config-note">
        <span class="note">{{config[sn][fn].note}}</span>
        <div class="header">Push</div>
        <div class="note-input"><input type="number" step="0.01" class="form-control-plaintext" [(ngModel)]="config[sn][fn].push"></div>
        <div class="note-test"><button type="button" class="btn btn-secondary disabled" (click)="test(sn, fn, 'push')">Test</button></div>
      </span>
      <span class="config-note">
        <span class="note">{{config[sn][fn+1].note}}</span>
        <div class="header">Push</div>
        <div class="note-input"><input type="number" step="0.01" class="form-control-plaintext" [(ngModel)]="config[sn][fn+1].push" ></div>
        <div class="note-test"><button type="button" class="btn btn-secondary disabled" (click)="test(sn, fn+1, 'push')">Test</button></div>
      </span>
    </div>
  </ng-container>
</div>


<button type="button" class="btn btn-primary" (click)="save()">Save</button>
<button type="button" class="btn btn-secondary" (click)="resetAll()">Save & Reset all</button>
